# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://yjkzuobdinwigqecyrip.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inlqa3p1b2JkaW53aWdxZWN5cmlwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUyOTUzMTUsImV4cCI6MjA5MDg3MTMxNX0.NLJ-ojnswyAwERuBQJrWV1ybu9bWOsKH0S-jKuSI65I
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inlqa3p1b2JkaW53aWdxZWN5cmlwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTI5NTMxNSwiZXhwIjoyMDkwODcxMzE1fQ.o4AxTig4vJyOykO4oPjwVM9WqoZ52LPLqaDrM68n72g
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_XnliKK-jYk1SdkZBOKHo9g_H6xukPPd
# Stripe
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# Stripe Price IDs
STRIPE_PRICE_INSIDER=
STRIPE_PRICE_CORE=
STRIPE_PRICE_PRO=

# App
NEXT_PUBLIC_APP_URL=https://learnhub.com

# Database (Prisma)
DATABASE_URL=
